{{ layout 'includes/layout.vto' }}

<h1>Invalid request</h1>
<p>
	The app at {{ client_id }}
	made an invalid request to authorize with your Denizen site.
	This might be a bug in their app, or in Denizen,
	or an attempt to hack your site
	(it's probably not, but if it is, it failed)
</p>

{{ /layout }}
