{{ import { makeProfileSvg } from "./make-profile-svg.vto" }}
<a href="{{ link }}" rel="noopener noreferrer">
  <img
    src="{{ c.var.href(card.photo[0]?.url ?? await makeProfileSvg(card)) }}"
    alt="{{ card.name }}"
    title="{{ card.name }}"
    class="face"
  />
</a>
