{{ for index, cite of entry.inReplyTo }}
  <!-- TODO: better reply context -->
  <p
    class="reply-context p-in-reply-to h-cite"
    style="view-transition-name: entry-{{ entry.iid }}-reply-context-{{ index }}"
  >
    <strong class="tiny-header">↪ In reply to</strong>
    {{ include "includes/cite.vto" { cite } }}
  </p>
{{ /for }}
{{ for index, cite of entry.repostOf }}
  <p class="repost-context p-repost-of h-cite"
    style="view-transition-name: entry-{{ entry.iid }}-repost-context-{{ index }}"
  >
    <strong class="tiny-header">🔁 Reposted from</strong>
    {{ include "includes/cite.vto" { cite } }}
  </p>
{{ /for }}
{{ for index, cite of entry.likeOf }}
  <p class="like-context p-like-of h-cite"
    style="view-transition-name: entry-{{ entry.iid }}-like-context-{{ index }}"
  >
    <strong class="tiny-header">👍 Like</strong>
    {{ include "includes/cite.vto" { cite } }}
  </p>
{{ /for }}
