:root {
    font-family: Inter, sans-serif;

    max-width: 90ch;
    margin: auto;

    --accent: seagreen;
    --bg2: #dee;
    --fg2: #355;
}

header:has(+ main)::after,
main + footer::before {
    content: '';
    display: block;
    width: 2em;
    margin: 2em 0;

    border-block-start: 2px solid var(--accent);
}

main + footer::before {
    border-block-start: 1px solid var(--fg2);
}

main {
    min-height: 100%;
}

button,
.\<button\>,
input[type=button],
input[type=submit],
input[type=reset],
::file-selector-button {
    font: inherit;
    font-size: .9em;
    font-weight: bold;
    text-decoration: none;

    display: inline-block;
    padding: 0 .4em;
    vertical-align: middle;

    border: 1px solid var(--accent);
    background-color: var(--bg2);
    color: var(--accent);

    &:hover, &:focus {
        text-decoration: none;
        background: var(--accent);
        color: var(--bg2);
    }
}

a,
.\<a\> {
    border: none;
    border-radius: 0;
    background: none;
    display: inline;

    color: currentColor;
    text-decoration: 1px dashed var(--accent) underline;

    &:hover, &:focus {
        color: var(--accent);
        text-decoration: 2px solid var(--fg2) underline;
    }
}

.\<small\> {
    font-size: .8em;
    color: var(--fg2);
}
a:any-link {
    cursor: pointer;
}

td,
th {
    vertical-align: baseline;
    text-align: start;
    border-block-end: 1px solid var(--bg2);
}

input:is([type="text" i],
    [type="text" i],
    [type="date" i],
    [type="datetime-local" i],
    [type="email" i],
    [type="month" i],
    [type="number" i],
    [type="password" i],
    [type="search" i],
    [type="tel" i],
    [type="time" i],
    [type="url" i],
    [type="week" i],
),
textarea,
select {
    background-color: var(--bg2);
    border: none;
    border-radius: 0;
    font: inherit;
    padding: .4em;
}

.grid {
    display: grid;
    gap: .5em;
    align-items: first baseline;
}

.grid-row {
    display: contents;
    >:first-child {
        grid-column-start: 1;
    }
}

kv-input {
    display: inline-block;
    ul {
        list-style: none;
        margin: 0;
        padding-inline-start: 0;
        li + li {
            margin-block-start: .25em;
        }
    }
}
