:root {
    font-family: Inter, sans-serif;

    max-width: 70ch;
    margin: auto;

    background: var(--bg1);

    --accent: #287;
    --bg1: white;
    --bg2: #dee;
    --bg3: #ddd;
    --fg2: #355;
}

header:has(+ main)::after,
main + footer::before {
    content: '';
    display: block;
    width: 2em;
    margin: 2em 0;

    border-block-start: 2px solid var(--accent);
}

main + footer::before {
    border-block-start: 1px solid var(--fg2);
}

main {
    min-height: 100%;
}

button,
.\<button\>,
input[type=button],
input[type=submit],
input[type=reset],
::file-selector-button {
    font: inherit;
    font-size: .9em;
    font-weight: bold;
    text-decoration: none;

    display: inline-block;
    padding: 0 .4em;
    vertical-align: middle;

    background-color: var(--accent);
    color: var(--bg1);
    border: none;

    &:hover, &:focus-visible {
        text-decoration: none;
        background: var(--bg2);
        color: var(--accent);
    }

    &:active {
        background-color: var(--accent);
        color: var(--bg2);    
    }

    &.big {
        font-size: 1em;
        padding: .3em .5em;
    }
}

a,
.\<a\> {
    border: none;
    border-radius: 0;
    background: none;
    display: inline;

    color: currentColor;
    text-decoration: 1px dashed var(--accent) underline;

    &:hover, &:focus-visible {
        color: var(--accent);
        text-decoration: 2px solid var(--fg2) underline;
    }
}

.\<small\> {
    font-size: .8em;
    color: var(--fg2);
}
a:any-link {
    cursor: pointer;
}

td,
th {
    vertical-align: baseline;
    text-align: start;
    border-block-end: 1px solid var(--bg2);
}

input:is(
    :not([type]),
    [type="text" i],
    [type="text" i],
    [type="date" i],
    [type="datetime-local" i],
    [type="email" i],
    [type="month" i],
    [type="number" i],
    [type="password" i],
    [type="search" i],
    [type="tel" i],
    [type="time" i],
    [type="url" i],
    [type="week" i],
),
textarea,
select {
    background-color: var(--bg2);
    border: none;
    border-block-end: 1px solid var(--accent);
    border-radius: 0;
    font: inherit;
    padding: .4em;
}

::placeholder {
    font-style: italic;
}

label {
    background-color: var(--bg3);
    padding: .4em;
}

.contents {
    display: contents;
}

.grid {
    display: grid;
    gap: .5em;
}

.grid-row {
    display: contents;
    >:first-child {
        grid-column-start: 1;
    }
}

list-input {
    display: inline-block;
    ul {
        list-style: none;
        margin: 0;
        padding-inline-start: 0;
        li + li {
            margin-block-start: .5em;
        }
        input {
            margin-inline-end: .5em;
        }
    }
    button {
        display: block;
    }
}

.h-entry {
    margin-block: 2em;
}

.link-card {
    position: relative;

    /* TODO: add all interactive elements */
    a, button, input, textarea, details {
        position: relative;
        z-index: 2;
    }
    .card-link {
        position: static;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
}
